<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card card-body bg-edit p-4 text-white rounded-0">
                <h1>Actualizar la tarea</h1>
                <form action="/tasks/{{task._id}}/edit" method="POST">
                    <div class="mb-3">
                        <input type="text" name="title" placeholder="Titulo" value="{{task.title}}"
                            class="form-control rounded-0 bg-dark text-white">
                    </div>
                    <div class="mb-3">
                        
                    <textarea name="description" rows="3" placeholder="Añadir una descripcion"
                        class="form-control rounded-0 bg-dark text-white">{{task.description}}</textarea>
                    
                    </div>
                    <button class="btn btn-primary">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>
